
<zf-modal id="print-letter" animation-in="fadeIn" animation-out="slideOutUp" zf-swipe-close="up">
    <div class="grid-block vertical">
        <div class="primary title-bar">
            <div class="center title">Your Pre-Qual Letter</div>
            <span zf-close="" class="left"><a>Close</a></span>
            <span zf-close="" class="right"><a>Done</a></span>
        </div>
        <div class="grid-content padding" style="padding-top: 1rem;">
            <p>
                <center><embed src="assets/pdf/letter.pdf" height="750", width="500"></embed></center>
            </p>
        </div>
    </div>
</zf-modal>
