
<zf-modal id="send-message" class="collapse" animation-out="slideOutUp" zf-swipe-close="up">
    <div class="grid-block vertical">
        <div class="primary title-bar">
            <span class="title left">Send a Message to your Loan Officer</span>
            <span zf-close="" class="right"><a>Close</a></span>
        </div>
        <div class="grid-content">
            <form>
                <br>
                <input type="text" placeholder="Subject">
                <textarea rows="6" placeholder="Body..."></textarea>
                <p><a class="medium button success" zf-close="">Send Message</a></p>
            </form>
        </div>
    </div>
</zf-modal>
