
<zf-modal id="upload-documents" class="collapse" animation-out="slideOutUp" zf-swipe-close="up">
    <div class="grid-block vertical">
        <div class="primary title-bar">
            <div class="center title">Upload Documents</div>
        </div>
        <div class="grid-content padding" style="padding-top: 1rem;">
            <center>
                <h5 class="subheader">Drag Files Here or Select Files</h5>
                <a zf-close="" class="button">OK</a>
                <a zf-close="" class="button">Cancel</a>
            </center>
        </div>
    </div>
</zf-modal>
