
.main-search {
    //@include breakpoint(medium) {
    //    height: 380px;
    //    padding-top: 80px
    //}
    background: url('../img/sky_stock.jpg');
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 80px;
    margin-bottom: 5px;
    background-position: 0 -100px;
    h1,
    .lead {
        color: white;
    }
}

.top-margin {
    margin-top: 2%;
}
