---
name: home.featured
url: /featured
---

<div class="grid-block">
    <div class="grid-content medium-4">
        <p><img class="thumbnail" src="assets/img/house-2.jpg"></p>
    </div>
    <div class="grid-content medium-8">
        <h4 class="subheader">3317 Upton Rd, Baltimore, MD</h4>
        <h5><strong>Sales Price:</strong> $279,990</h5>
        <h5><stong>Estimated Mortgage Payment:</stong>$990</h5>
        <a>See More About this Listing</a>
    </div>
</div>

<div class="grid-block">
    <div class="grid-content medium-4">
        <p><img class="thumbnail" src="assets/img/house-2.jpg"></p>
    </div>
    <div class="grid-content medium-8">
        <h4 class="subheader">3317 Upton Rd, Baltimore, MD</h4>
        <h5><strong>Sales Price:</strong> $279,990</h5>
        <h5><stong>Estimated Mortgage Payment:</stong>$990</h5>
        <a>See More About this Listing</a>
    </div>
</div>

<div class="grid-block">
    <div class="grid-content medium-4">
        <p><img class="thumbnail" src="assets/img/house-2.jpg"></p>
    </div>
    <div class="grid-content medium-8">
        <h4 class="subheader">3317 Upton Rd, Baltimore, MD</h4>
        <h5><strong>Sales Price:</strong> $279,990</h5>
        <h5><stong>Estimated Mortgage Payment:</stong>$990</h5>
        <a>See More About this Listing</a>
    </div>
</div>

<div class="grid-block">
    <div class="grid-content medium-4">
        <p><img class="thumbnail" src="assets/img/house-2.jpg"></p>
    </div>
    <div class="grid-content medium-8">
        <h4 class="subheader">3317 Upton Rd, Baltimore, MD</h4>
        <h5><strong>Sales Price:</strong> $279,990</h5>
        <h5><stong>Estimated Mortgage Payment:</stong>$990</h5>
        <a>See More About this Listing</a>
    </div>
</div>
