---
name: myKnowledgeCenter
url: /myKnowledgeCenter
animationIn: fadeIn
---

<div class="grid-block">
    <div class="grid-content">
        <h1>myKnowledgeCenter</h1>
        <hr>
        <h2>myRate</h2>
        <p>MyMortgageLoan is designed to help you throughout the home buying process at all stages. Here you can find today's latest local and national news that will keep you in the loop for making the best decisions for when to lock your rate. <a ui-sref="myLoanOfficer">Get in touch with your loan officer today</a> to talk about getting the best rate possible.</p>

    </p>
    </div>

    <div class="grid-block">
        <ul data-orbit data-options="timer: false">

        <div class="grid-container medium-6 large-3">
            <div class="card">
                <img src="assets/img/house-3.jpg" height="200", width="100%">
                <div class="card-divider">
                    Loch Raven
                </div>
                <div class="card-section">
                    <h4>1300 Dulaney Valley Rd.</h4>
                    <h4>Hunt Valley, MD</h4>
                    <h5><strong>Sales Price:</strong> $599,990</h5>
                    <h5><strong>Estimated Mortgage Payment:</strong> $2135</h5>
                </div>
            </div>
        </div>

        </ul>
    </div>
</div>
