---
name: myListings
url: /myListings
animationIn: fadeIn
---

<div class="grid-block vertical">
    <div class="grid-content">
        <h1>Your Saved Listings</h1>
        <hr>
        <p>Here are the listings that you have saved. Be sure to have your Loan Officer approve a pre-qualification letter before contacting the listing agent.
        </p>
    </div>

    <div class="grid-content medium-6 large-4">
        <div class="card" ui-sref="listing">
            <img src="assets/img/house-4.jpg">
            <div class="card-divider">
                Loch Raven
            </div>
            <div class="card-section">
                <h4>1300 Dulaney Valley Rd.</h4>
                <h4>Hunt Valley, MD</h4>
                <h5><strong>Sales Price:</strong> $599,990</h5>
                <h5><strong>Estimated Mortgage Payment:</strong> $2135</h5>
            </div>
        </div>
    </div>
</div>
